body {
  background-color: Ivory;
  margin: 10px 50px 10px 50px;
  color: darkblue;
  font-family:'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}

img {
  float: left;
  margin: 10px;
  width: 100px;
  height: 100px;
}
