body {
  background-color: Ivory;
  margin: 10px 50px 10px 50px;
  color: darkblue;
  font-family:'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
  float: top;
}

img {
  float: left;
  margin: 10px;
}

div {
  column-count: 3;
  column-gap: 20px;
}

